body {
  margin: 0;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}
.page-title {
  color: #373737;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 49px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 27px;
}
p {
  text-align: center;
  color: #373737;
  font-size: 16px;
  line-height: 26px;
  width: 1145px;
  margin: 28px auto;
}
.picture {
  display: block;
  margin: auto;
}

.btn {
  background: #ff0000;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  padding: 18px 43px;
  font-weight: bold;
  border-radius: 4px;
  cursor:pointer;
}
.footer {
  padding-top: 82px;
  float: right;
  font-weight: bold;
  color: #373737;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 29px;
}
.menu-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-header-link {
  color: red;
  font-size: 18px;
  line-height: 18px;
}
.menu-header-item {
  display: inline-block;
  margin-right: 70px;
}
.btn-center {
  text-align: center;
  padding-top: 66px;
}
